.WhyAtalaya_row {
	width: 100%;
	margin: 0 auto;
	gap: 3rem;
	display: grid;
	min-height: calc(100vh - 110px);
	grid-template-columns: repeat(3, 500px);
	grid-template-rows: repeat(2, 270px);
	justify-content: center;
	padding-top: 5rem;
}
.WhyAtalaya_title {
	text-align: center;
	color: #0f216f;
}
.WhyAtalaya_bg_image {
	min-height: 1200px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../../images/imagen-habitacion-web.png');
}
@media (max-width: 1270px) {
	.WhyAtalaya_row {
		grid-template-columns: repeat(2, 500px);
		grid-template-rows: repeat(4, 300px);
	}
}

@media (max-width: 1010px) {
	.WhyAtalaya_row {
		grid-template-columns: 600px;
		gap: 0rem;
	}
	.WhyAtalaya_bg_image {
		width: 100%;
		min-height: 10px;
		background-image: url('../../images/imagen-habitacion-movil.png');
		background-size: cover;
	}
}

@media (max-width: 690px) {
	.WhyAtalaya_row {
		min-height: 2000px;
		grid-template-columns: 330px;
		gap: 0rem;
	}
	.WhyAtalaya_bg_image {
		width: 100%;
		background-image: url('../../images/imagen-habitacion-movil.png');
		background-size: cover;
	}
}
