.WhyCard_card {
	font-size: 1.4rem;
	font-weight: 800;
	padding: 20px;
	color: #0f216f;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
}
.WhyCard_icon {
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 10px;
	height: 100px;
	width: 200px;
}
.WhyCard_style_icon svg {
	margin-top: 0px;
	fill: #0f216f;
}
.WhyCard_title {
	color: orange;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin-bottom: 10px;
}
.WhyCard_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: justify;
	padding: 10px;
}

@media (max-width: 857px) {
	.WhyCard_card {
		font-size: 1.1rem;
		color: white;
		background-color: #0f216f;
	}
	.WhyAtalaya_bg {
		background-color: white;
		color: #0f216f;
	}
	.WhyCard_info {
		text-align: left;
	}
}
